body {
    width: 80%;
    margin: auto;
    background-color: #EEE;
}

.lvPage-header {
    font-family: monospace;
}

.lvPage-card {
    font-family: monospace;
    background-color: #FFefcc;
}

.lv-termsLogItem {
    list-style: none;
    padding: 0.25em 0 0.25em 0;
}

.lv-termsLogItem:nth-child(odd) {
    background-color: #FFefcc;
}

.lv-termsLogItem:nth-child(even) {
    background-color: #FFF;
}

.lv-searchTerms {
    font-weight: bold;
    font-family: monospace;
    font-size: 1.3em;
}

.lv-voiceCredit {
    font-style: italic;
}

.lv-linkControl {
    border: 1px solid black;
    padding: 1em;
    display: inline-block;
    background-color: #FFF;
    border-radius: 0.5em;
    text-decoration: none;
}
