body {
    width: 80%;
    margin: auto;
    background-color: #EEE;
}

.lvPage-header {
    font-family: monospace;
}

.lvPage-card {
    font-family: monospace;
    background-color: #FFefcc;
}

.lv-searchTerms {
    font-weight: bold;
}

.lv-voiceCredit {
    font-style: italic;
}

.lv-linkControl {
    border: 1px solid black;
    padding: 1em;
    display: inline-block;
    background-color: #FFF;
    border-radius: 0.5em;
    text-decoration: none;
}
